<div class="latest-tweets">
    {% for item in latesttweets %}
        <div class="latest-tweets-item">
            <div class="latest-tweets-item-avatar">
                <a href="https://twitter.com/intent/user?screen_name={{ item.user.screen_name }}">
                    <img src="{{ item.user.profile_image_url_https }}" alt="{{ item.user.name }}">
                </a>
            </div>
            <div class="latest-tweets-item-user">
                <a href="https://twitter.com/intent/user?screen_name={{ item.user.screen_name }}">
                    {{ item.user.name }}
                </a>
            </div>
            <div class="latest-tweets-item-screen">
                @{{ item.user.screen_name }}
                on
                {{ item.created_at|date("m D Y") }}
            </div>
            <div class="latest-tweets-item-text">
                {{ item.text|raw }}
            </div>
            <div class="latest-tweets-item-counts">
                <a href="https://twitter.com/intent/retweet?tweet_id={{ item.id }}">
                    <i class="fas fa-retweet"></i>
                    {% if item.retweeted_status %}
                        {{ item.retweeted_status.retweet_count }}
                    {% else %}
                        {{ item.retweet_count }}
                    {% endif %}
                </a>
                <a href="https://twitter.com/intent/like?tweet_id={{ item.id }}">
                    <i class="far fa-heart"></i>
                    {% if item.retweeted_status %}
                        {{ item.retweeted_status.favorite_count }}
                    {% else %}
                        {{ item.favorite_count }}
                    {% endif %}
                </a>
            </div>
            {% if ltconfig.read_more %}
                <div class="latest-tweets-item-url">
                    <a href="https://twitter.com/{{ item.user.screen_name }}/status/{{ item.id }}" target="_blank">{{ ltconfig.read_more }}</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{# latesttweets|dump #}
