<div class="latest-tweets">
    {% for item in latesttweets %}
        <div class="latest-tweets-item">
            <div class="latest-tweets-item-avatar">
                <img src="{{ item.user.profile_image_url|replace({"http://":"https://"}) }}" alt="{{ item.user.name }}">
            </div>
            <div class="latest-tweets-item-user">
                {{ item.user.name }}
            </div>
            <div class="latest-tweets-item-screen">
                @{{ item.user.screen_name }}
                on
                {{ item.created_at|date("m D Y") }}
            </div>
            <div class="latest-tweets-item-text">
                {{ item.text|raw }}
            </div>
            <div class="latest-tweets-item-counts">
                <a href="https://twitter.com/intent/retweet?tweet_id={{ item.id }}">
                    <i class="fas fa-retweet"></i>
                    {{ item.retweet_count }}
                </a>
                <a href="https://twitter.com/intent/like?tweet_id={{ item.id }}">
                    <i class="far fa-heart"></i>
                    {{ item.favorite_count }}
                </a>
            </div>
            <div class="latest-tweets-item-url">
                {% if not item.retweeted_status %}
                    <a href="{{ item.entities.urls[1].url }} ">{{ item.entities.urls[1].url }}</a>
                {% else %}
                    <a href="{{ item.retweeted_status.entities.urls[0].url }} ">{{ item.retweeted_status.entities.urls[0].url }}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{# latesttweets|dump #}

